.defi-page {
  text-align: center;
}

.defi-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.defi-image img {
  max-width: 100%;
  border-radius: 8px;
}

.defi-details {
  text-align: left;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7DCFB6; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease-in-out;
  align-self: center; 
}

.start-button:hover {
  background-color: #ff76ac; 
}

.stop-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff76ac; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease-in-out;
  align-self: center; 
}

.stop-button:hover {
  background-color: #7DCFB6; 
}

.star {
  color: grey; 
  font-size: 3em; 
  margin-bottom: 30px;
}

.star.filled {
  color: gold; 
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.info p {
  margin: 0 5px;
}

.objectifs, .criteres {
  margin-top: 1px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
}

.objectifs {
  background-color: #ff76ac; 
}

.criteres {
  background-color: #7DCFB6;
}

.objectifs ul, .criteres ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section-title {
  font-weight: bold;
  margin-top: 10px;
}
