.content {
  text-align: center;
}

.defis-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vh 10vw;
}

.defi-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Ensure text color is inherited */
}

.defi-card h2 {
  margin-top: 0;
}

.defi-card p {
  margin-bottom: 10px;
}

.star {
  color: gold;
}

.defi-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .defis-container {
    grid-template-columns: 1fr;
  }
}
