/* FILEPATH: /home/mathieu_stephan/Documents/SAE 3/cyphercode/src/App.css */

:root {
  --primary-color: #7C0186;
  --background-color: #0F0F0F;
  --text-color: #FBFBFB;
  --accent-color-1: #4A7856;
  --accent-color-2: #BCABAE;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color-1);
}

#logo {
  width: 100%;
  max-width: 300px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Add your custom styles here */
